html 
{
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgray;
}

body {

    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: white;
    
}

a
{

    text-decoration: none;

}


.card
{
    z-index: 1;
    position: relative;
    width: 300px;
    height:400px;
    margin: 0 auto;
    margin-top:100px;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

/*
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.2);
*/
}
.card.active
{
    height:490px;
}
.banner
{
    z-index: 2;
    position: relative;
    margin-top: -154px;
    width:100%;
    height:150px;
    background-image: url("https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    border-bottom: solid 1px lightgrey;
  

}

.banner.active
{
    height: 0;
  
}

.photo
{
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: white;
    margin: 0 auto;
    background-image: url("https://img.freepik.com/vector-premium/icono-usuario-hombre-traje-negocios_454641-453.jpg?w=2000");
    background-size: cover;
    background-position: 50% 50%;
    top:75px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);

}

.photo.active
{
    top:-80px;
}
.card ul
{
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top:87px;
    margin-bottom:30px;
    font-size: 20px;

}

.card ul.active
{
    opacity:0;
    visibility: hidden;
}

.card i
{
    font-size: 25px;
    display: inline-block;
    margin-top:10px;
    margin-left: 40px;
    margin-right: 150px;
    width: 300px;;
    text-align: left;
    color: #C7D0E1;
}

button.contact
{
    margin: 0 auto;
    text-align: center;
    margin-top: -15px;
    width: 100%;
    height: 35px;
    display: block;    
    border:none;
    background-color: transparent;
    font-family: inherit;
    color: white;
    background-color: #C7D0E1;
    font-size:12px;
    text-transform: uppercase;

}

button.contact:hover
{
    cursor: pointer;
    background-color:#979da8;
}

button.contact:focus
{
    outline: 0;
}

.social-media-banner
{
    width: 300px;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    position: absolute;

}

.social-media-banner.active
{
    opacity:0;
    visibility: hidden;

}

.social-media-banner a i
{
    display: inline;
    
    width: auto;
    margin-right:15px;
    margin-left: 10px;

}

.social-media-banner a i:hover
{
    color:#979da8;
}

.email-form
{
    height: 0;
    overflow: hidden;
/*    background-color: #C7D0E1;*/
    width: 300px;
     z-index:-1;

}

.email-form.active
{
    height: 310px;
    z-index: 3;

}

.email-form input
{
    width: 200px;
    text-transform: capitalize;
/*    background-color: #a4acbc;*/
    margin: 0 auto;
    font-family: inherit;
    border: 1px solid #dadee5;
/*    border: 1px solid black;*/
    margin-top: 35px;
    height: 30px;
    display: block;

}
.email-form input:focus,.email-form textarea:focus
{
/*    border: none;*/
    border: 1px solid grey;
    outline: none;
    
}
::-webkit-input-placeholder 
{
 font-size: 12px;
 text-transform: uppercase;
 text-align: center;
/*    color: black;*/
}
.email-form textarea
{
    width: 200px;
    text-transform: capitalize;
    background-color: white;
    margin: 0 auto;
    display: block;
    margin-top:40px;
    border: 1px solid #dadee5;
    font-family: inherit;

}

.email-form button
{
    margin-top: 60px;
}
